doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Second Express application
    body
        main
            h1 Second Express application
            form(method='POST' action='/')
                label(for='name') Give your name
                input(name='name')
                br
                input(type='submit')
                input(type='reset')
            img(src="/img/kapibara.jpeg", alt="")
            if faculty
                table 
                    tr 
                        th Nazwisko 
                        th Imie 
                        th Wydzial
                    each student in students 
                        tr
                            th= student.lname
                            th= student.fname
                            th= student.faculty
            else 
                table 
                    tr 
                        th Nazwisko 
                        th Imie 
                    each student in studentsArr
                        tr 
                            th= student.lname
                            th= student.fname

